.table > thead {
  background-color: #078d96;
  color: #fff;
}

th {
  padding: 5px;
}

td {
  background-color: #f1f1f1;
  padding: 5px;
}

.preview-image-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.preview-image {
  width: 50px;
  height: 50px;
  padding: 5px;
}
